.main    { display:flex; flex-direction: column;}
.menu    { background: powderblue; width: 100%;}
.meat    { background: lightgray;width: 100%;}
li       { display: inline;}
li:after { content: " | "}
